<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
							http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd
							http://www.springframework.org/schema/tx		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
							">
	<!-- turn on annotation support -->
	<context:annotation-config />
	<tx:annotation-driven />
	
	<bean id="assessmentDao" parent="baseHibernateDao" class="net.frontlinesms.plugins.learn.data.repository.AssessmentDao"/>
	<bean id="assessmentMessageDao" parent="baseHibernateDao" class="net.frontlinesms.plugins.learn.data.repository.AssessmentMessageDao"/>
	<bean id="assessmentMessageResponseDao" parent="baseHibernateDao" class="net.frontlinesms.plugins.learn.data.repository.AssessmentMessageResponseDao"/>
	<bean id="questionDao" parent="baseHibernateDao" class="net.frontlinesms.plugins.learn.data.repository.QuestionDao"/>
	<bean id="reinforcementDao" parent="baseHibernateDao" class="net.frontlinesms.plugins.learn.data.repository.ReinforcementDao"/>
	<bean id="topicItemDao" parent="baseHibernateDao" class="net.frontlinesms.plugins.learn.data.repository.TopicItemDao"/>
	<bean id="topicDao" parent="baseHibernateDao" class="net.frontlinesms.plugins.learn.data.repository.TopicDao"/>
	
	<bean id="baseHibernateDao" abstract="true" class="net.frontlinesms.data.repository.hibernate">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="eventBus" ref="eventBus"/>
	</bean>

	<bean id="gradebookService" class="net.frontlinesms.plugins.learn.data.gradebook.GradebookService"/>
	
	<bean id="learnIncomingMessageProcessor" class="net.frontlinesms.plugins.learn.LearnIncomingMessageProcessor"/>
</beans>
